// main: ./../main.less

.exercises {

   grid-area: exercises;
   grid-row: 4/5;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: minmax(64px, auto) minmax(360px, auto);

   &__text {
      padding-bottom: 24px;

      grid-row: 1/2;
      justify-self: center;

      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-align: center;
      color: #22356F;
      opacity: 0.5;


   }

   &__items {

      grid-row: 2/3;

      display: grid;
      grid-template-columns: minmax(350px, auto) minmax(350px, auto) minmax(350px, auto) minmax(350px, auto);


      & li:nth-child(1) {
         background-color: #FFE2DE;
      }

      & li:nth-child(2) {
         background-color: #C4E769;
      }

      & li:nth-child(3) {
         background-color: #62D0DF;
      }

      & li:nth-child(4) {
         background-color: #0052C1;
      }
   }

   &__item {
      border: 2px solid red;
      padding: 96px 0 0 70px;

      position: relative;

      font-size: 32px;
      line-height: 34px;
      letter-spacing: -0.006em;
      color: #fff;





      & div {
         position: relative;

         display: inline-block;

         &::before {
            content: " ";

            width: 9px;
            height: 9px;

            background-color: #E9B730;

            border-radius: 50%;
            margin-right: 10px;

            position: absolute;
            top: 14px;
            left: -12%;

         }

         &::after {
            content: " ";
            width: 255px;
            height: 2px;

            background-color: #fff;

            display: block;

            position: absolute;
            top: -40px;
            left: -35px;

         }
      }
   }
}