// main: ./../main.less

.page {
   max-width: 1440px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: minmax(auto, 360px) minmax(auto, 120px) minmax(auto, 240px) minmax(auto, 240px) minmax(auto, 120px) minmax(auto, 360px);
   grid-template-rows: minmax(auto, 842px) minmax(auto, 418px) minmax(auto, 418px) minmax(auto, 463px);

   grid-template-areas:
      "header"
      "benefits"
      "about"
      "footer";

   justify-content: center;
   align-content: center;
}