// out: ./main.min.css, compress: false, sourceMap: true


body {
   min-height: 100vh;
}

img {
   max-width: 100%;
}

//нужно отдельно прописывать для псевдоэлементов, так как в противном случае для них это не сработает
*::before,
*::after {
   box-sizing: border-box;
}

//стили для списков, типа normalize
.list-reset {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

//стили для кнопок, типа normalize
.btn {
   transition: 0.3s;

   &:hover {
      transform: scale(1.1);
      background-color: steelblue;
   }
}

body.lock {
   overflow: hidden;
}

.title {}

.subscr {}

.logo {
   color: @accentColor;
}

//////////////////////////////////////////////////


@import './blocks/_variables.less';
@import './blocks/_burger.less';



@import './blocks/_page.less';
@import './blocks/_header.less';
@import './blocks/_main-block.less';
@import './blocks/_benefits.less';
@import './blocks/_about.less';
@import './blocks/_exercises.less';
@import './blocks/_methods.less';
@import './blocks/_facts.less';
@import './blocks/_information.less';
@import './blocks/_footer.less';


@import './blocks/_media.less';